<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>337600702379-hojm8inhr67dvbarj9059rn1m2rdtgms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337600702379-hojm8inhr67dvbarj9059rn1m2rdtgms</string>
	<key>API_KEY</key>
	<string>AIzaSyBkAllTehMGA-vWm9xcqPuDT3fr8zR4FZM</string>
	<key>GCM_SENDER_ID</key>
	<string>337600702379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>imcs2.TodoApplication</string>
	<key>PROJECT_ID</key>
	<string>todoapp-c5cce</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-c5cce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337600702379:ios:dd6d4f036a028a5e</string>
	<key>DATABASE_URL</key>
	<string>https://todoapp-c5cce.firebaseio.com</string>
</dict>
</plist>